:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
}
* {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--darkBlue);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
main {
  background-color: var(--darkGrayishBlue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: fit-content;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 112px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 112px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 52px -29px rgba(0, 0, 0, 0.75);
}
#divider {
  display: flex;
  justify-content: center;
  margin: 0px;
}
#dividerDesktop {
  display: none;
}

#adviceNum {
  color: var(--neonGreen);
  font-size: 15px;
  margin: 2rem 0 1rem;
}
#string {
  color: var(--lightCyan);
  word-break: keep-all;
  text-align: center;
  font-size: 28px;
  width: 80%;
  margin-bottom: 20px;
  font-weight: 800;
}
.DICE {
  aspect-ratio: 1/1;
  background-color: var(--neonGreen);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 16px;
  position: relative;
  top: 27px;
}
.DICE:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 10px;
  opacity: 0.4;
}
@media (min-width: 800px) {
  main {
    width: 520px;
  }
  #string {
    margin-bottom: 50px;
  }
  .DICE {
    transition: 0.2s;
  }
  .DICE:hover {
    -webkit-box-shadow: 0px 0px 53px 10px rgba(82, 255, 169, 1);
    -moz-box-shadow: 0px 0px 53px 10px rgba(82, 255, 169, 1);
    box-shadow: 0px 0px 53px 10px rgba(82, 255, 169, 1);
    transition: 0.2s;
  }
}
